.header {
    width: 100%;
    background-color: #212123;
}

.header__container {
    max-width: 1274px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 77px;
}

.header__logo {
    width: 304px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.user {

}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: #191919;

}

.username {
    font-size: 16px;
    color: #B8B8B8;
    line-height: 12px;
}

.form {
    display: flex;
    align-items: center;
    background-color: #191919;
    border-radius: 10px;
    height: 25px;
    padding: 7px 10px;
    column-gap: 16px;
    width: 300px;
    position: relative;
}

.icon {

}

.input {
    flex-grow: 1;
}
.input input{
    font-family: Montserrat, Roboto, sans-serif;
    font-size: 16px;
    line-height: 14px;
    background: none;
    outline: none;
    width: 100%;
    border: 0;
}
.account{
    display: flex;
    align-items: center;
    gap: 20px;

}
.favorites{
    cursor: pointer;
}
.cart{
    position: relative;
}
.count{
    text-decoration: none;
    position: absolute;
    height: 15px;
    width: 15px;
    background: #8B57C6;
    right: -7px;
    bottom: -5px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    font-family: 'Montserrat', serif;
}

